
.translate_wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0,0,0,.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.goog-logo-link img {
  width: 37px;
  height: 14px;

}
